/*------PROYECTOS------*/
.proy-bgc{
    margin:15px 0;
    background-color: #575;
    width: 100%;
}

#proy-div{
    display:grid;
    justify-self: center;
    justify-items: center;
    padding: 10px 15px;
    gap: 10px;

    max-width: 500px;
    grid-auto-columns: 1fr;
}

.proy-title{
    padding: 0;
    margin:5px;
}


.proy-marco{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #797;
}

.proy-img{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}